:root {
    --maincolor:#2E2F42;
    --headercolor:#434455;
    --lightbackgroudcolor:#F4F4FD;
    --linkscolor:#4D5AE5;
    --background: #fff;
    --footertext: #E7E9FC;
    --hoverlink: #404BBF;
    --customers-bg:#8E8F99;
    --customers-svg:#AFB1B8;
    --footer-focus:#31D0AA;
    --footer-bg-link:#ffffff1A;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}

p,a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}

button {
    border:none
}

body {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
color: var(--maincolor);
background-color: var(--background);
letter-spacing: 0.02em;
}

.conteiner{
    max-width: 1158px;
    margin: 0 auto;
    box-sizing: border-box; 
}

.header-container {
    max-width: 1158px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.section{
    margin: 0 auto;
    padding: 120px 0 120px 0;
}

.list {
    list-style: none;
    display: inline-flex;
}

.navigation {
    display: flex;
    text-align: center;
}

.head-nav {
    border-bottom: 1px solid var(--footertext);
    margin: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--linkscolor);
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-color-black {
    color: var(--headercolor);
}

.nav-list-hyper-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--maincolor);
    padding: 24px 0 24px 0;
    display: block;

}

.list-nav{
    display:flex;
    list-style: none;
    display: flex;
    gap: 40px;
}

.active {
    color: var(--hoverlink)
}


.nav-list-hyper-link:hover, .nav-list-hyper-link:focus {
    color: var(--hoverlink);
}
.address-list {
    text-align: right;
}

.list-contact{
    display:flex;
    list-style: none;
    gap:40px;
}

.contacts {
text-decoration: none;
color: var(--headercolor);
font-style: normal;
padding: 24px 0 24px 0;
display: block;
}

.contacts:hover, .contacts:focus {
    color: var(--hoverlink);
}

.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-hero.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
}

.business-title {
    color: var(--background);
font-size: 56px;
line-height: 1.07;
margin: 0 auto 48px;
max-width: 496px;
text-align: center;
}

.order-button {
    background-color: var(--linkscolor);
    color: var(--background);
    cursor:pointer;
width: 169px;
height: 56px;
margin: 0 auto;
display: block;
border-radius: 4px;
letter-spacing: 0.04em;
line-height: 24px;
}

.order-button:hover, .order-button:focus {
    background-color: var(--hoverlink);
}

.hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.futures {
    padding-bottom: 0;
}

.list-futures {
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.futures-svg {
}

.futures-bg {
    background-color: var(--lightbackgroudcolor);
    border-radius: 4px;
    padding: 24px 100px;
}

.futures-title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    gap:24px;   
    margin-bottom: 8px;
    margin-top: 8px;
}

.futures-text {
    color: var(--headercolor);
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-futures {
    display: flex;
    justify-content:space-between;;
    gap:24px;   
}

.futures-block {
    width: 264px;
}

.personal-section {
    background-color: var(--lightbackgroudcolor);
}

.section-title {
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

.section-work {
    padding: 0 0 120px;
}

.section-team{
    background-color: var(--lightbackgroudcolor);
    padding-bottom: 120px;
}

.list-work{
    list-style: none;
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-photo {
    justify-content: center;
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    width: 360px;

}

.list-personal {
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal {
    justify-content: center;
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}

.team-description {
    padding: 32px 16px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title{
    font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    color: var(--headercolor);
    text-align: center;
}

.team-svg-list {
    display: flex;
    gap:24px
}

.team-svg-item {
color: var(--linkscolor);
margin-top: 8px;
}
.team-svg {
    fill: var(--background);
}

.svg-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--linkscolor);
}

.svg-link:hover, .svg-link:focus {
    background-color: var(--hoverlink);
}

.customers-list{
display: flex;
gap:24px;
}

.customers-item {
    display: block;
}

.customers-link {
    display: flex;
    border:1px solid var(--customers-bg);
border-radius: 4px;
outline: transparent;
}

.customers-svg {
    margin: 16px 32px;
    fill: var(--customers-svg);
    
}

.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
    fill: var(--hoverlink);
}

.customers-link:focus, .customers-link:hover {
    border-color:var(--hoverlink);
    outline: transparent;
}

.footer {
    background-color: var(--maincolor);
    height: auto;
    padding: 100px 0 100px 0;

}
.footer-list{
    display: flex;
    gap:120px
}

.footer-media {
    color: var(--background);
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-logo {font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--linkscolor);
    text-decoration: none;
    text-transform: uppercase; 
}

.footer-color-white{
    color:var(--lightbackgroudcolor)

}

.footer-text {
    color: var(--footertext);
    max-width: 262px;
    padding-top: 18px; 
}
.footer-svg-list{
    display: flex;
    gap:16px

}

.footer-svg-item{
margin-top: 8px;

}

.footer-svg-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--footer-bg-link);
}
.footer-svg{
    fill:var(--lightbackgroudcolor)
}

.footer-svg-link:hover,
.footer-svg-link:focus{
background-color: var(--footer-focus);
}

/*Portfolio*/

.portfolio {
    padding-top: 96px;
}

.list-button {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.portfolio-button {
    background: var(--lightbackgroudcolor);
    border: none;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
background: var(--lightbackgroudcolor);
border: 1px solid var(--footertext);
border-radius: 4px;
color: var(--linkscolor);
font-weight: 500;
}

.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--linkscolor);
    color: var(--background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.apps-post {
    width: 360px;
}

.portfolio-title {
    font-size: 20px;
line-height: 1.2;
color: var(--maincolor);
font-weight: 500;
}

.portfolio-text {
    color: var(--headercolor);
    margin-top: 8px;
}

.apps-list {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    gap:48px 24px;

}
.apps-post:last-of-type {
    margin-bottom: 120px;
}

.apps-description {
    border-bottom: 1px solid var(--footertext);
    border-left: 1px solid var(--footertext);
    border-right: 1px solid var(--footertext);
    padding-left: 16px;
    padding-bottom:32px ;
    padding-top: 32px;
}

.apps-link:hover .apps-description,
.apps-link:focus .apps-description{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-color: var(--lightbackgroudcolor);
    outline: transparent;
}
